@font-face {
    font-family: BigShouldersDisplay;
    src: url(./Font/static/BigShouldersDisplay-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
.bigDisplay {
    font-family: BigShouldersDisplay;
    font-weight: bold;
    font-style: normal;
    font-size: 96px;
}
@font-face {
    font-family: BigShouldersDisplay;
    src: url(./Font/static/BigShouldersDisplay-SemiBold.ttf);
    font-weight: semibold;
    font-style: normal;
}
.bigShouldersDisplay {
    font-family: BigShouldersDisplay;
    font-weight: semibold;
    font-style: normal;
}