.card-custom-bg {
    background-color: #1A7B16;
    color: white;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }
  
  .card-custom-bg .text-gray-700 {
    color: white;
  }

  